@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #DAE4ED;
}

html.dark {
    background-color: #0F1014;
}

body {
    background-color: #DAE4ED;
}

body.dark {
    background-color: #0F1014;
}

@layer utilities {
	.prose-boring {
		@apply
		prose
		prose-slate
		prose-2xl
		lg:prose-base
		text-4xl
		leading-relaxed
		max-w-none
		prose-pre:rounded-none
		prose-headings:bg-blue-500
		prose-headings:text-slate-800 
		prose-headings:font-normal
		prose-headings:p-2
		prose-headings:font-serif
		dark:prose-invert
		dark:prose-headings:bg-blue-500
		dark:prose-headings:text-slate-300
	}
}
