@layer base {
    @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        src: url('/fonts/WorkSans-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Work Sans';
        font-style: italic;
        src: url('/fonts/WorkSans-Italic-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Crimson Pro';
        font-style: normal;
        src: url('/fonts/CrimsonPro-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Crimson Pro';
        font-style: italic;
        src: url('/fonts/CrimsonPro-Italic-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Cascadia Mono';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/CascadiaMono-Regular.ttf');
    }

    @font-face {
        font-family: 'Cascadia Mono';
        font-style: italic;
        font-weight: 400;
        src: url('/fonts/CascadiaMono-Italic.ttf');
    }

    @font-face {
        font-family: 'Cascadia Mono';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/CascadiaMono-SemiBold.ttf');
    }

    @font-face {
        font-family: 'Cascadia Mono';
        font-style: italic;
        font-weight: 600;
        src: url('/fonts/CascadiaMono-SemiBoldItalic.ttf');
    }

    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'JetBrains Mono';
        font-style: italic;
        src: url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
    }
}
